
.splash-main-auth {
    // position: relative;
    // top: -65px;
    z-index: -1;
    position: absolute;
    left: 0px;
    top: 0px;
}

.movie {
    overflow: hidden;


}

.movie img {
    width: 2160px;
}