.carousel-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
    position: relative;
    overflow:hidden;
}

.image-slide-container {
    width: 1000px;
}
.image-slide {
    display: flex;
    justify-content: space-between;
    width: 6000px;
    position: relative;
    top: 0;
    left: -10px;
    transform: translate3d(0px, 0px, 0px);
}
.image-slide div{
    height: 150px;
    width: 150px;
    margin: 0 8.5px;
    cursor: pointer;
}

.slide-arrow {
	cursor: pointer;
    font-size: 2rem;
    z-index: 99;
    width: 40px;
    height: 90px;
    opacity: .1;
    transition: opacity .2s linear;
    border-radius: 1px;
    background: #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
}

.slide-arrow:hover {
    opacity: 1;
}

.slide-arrow.right {
	right: 0px
}

.slide-arrow.left {
    left: 0px;
}

.dots-paginator {
    overflow: auto;
    height: 20px;
    width: 80px;
    margin: 10px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}
.dots-paginator span{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #888;
    border-radius: 12px;
}

.dots-paginator span.active {
    background-color: #00B0B0;
}