$orange: #f7991c;
$orange-light: #F3B44D;
$orange-dark: #e77600;
$orange-shadow: rgba(228,121,17,.5);
$gray-dark: #767676;
$gray-slate: #555;
$gray-button: #d8d8d8;
$gray-light: #e7e7e7;
$gray-lightest: #e3e3e3;
$gray-border: #cdcdcd;
$teal-link: #007eb0;
$teal-link-bright: #289bc9;
$light-blue: #E8F0FE;
$error-red: #D80102;
$text-black: #212325;

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
// body {
//     background: $orange;
// }

.hidden {
    display: none;
}

body {
    font-family: 'Roboto',sans-serif;

}