$orange: #f7991c;
$orange-light: #F3B44D;
$orange-dark: #e77600;
$orange-shadow: rgba(228,121,17,.5);
$gray-dark: #767676;
$gray-slate: #555;
$gray-button: #d8d8d8;
$gray-light: #e7e7e7;
$gray-lightest: #e3e3e3;
$gray-border: #cdcdcd;
$teal-link: #007eb0;
$teal-link-bright: #289bc9;
$light-blue: #E8F0FE;
$error-red: #D80102;
$text-black: #212325;

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');
// body {
//     background: $orange;
// }

.hidden {
    display: none !important;
}

.show {display:block;}

body {
    font-family: 'Roboto',sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    // overflow: hidden;

}

#main-wrapper {
    min-height: 100vh;
    position: relative;
    width: 1020px;
    margin: 0 auto;
}

#main-body {
    padding-bottom: 100px;
}

$gray-dark: rgb(26, 28, 29);


#footer {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    color: #1a1c1d;
    font-family: 'Arial';
    background: #f6f7f7;
    box-sizing: border-box;
    height: 80px;
    width: 100vw;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 30px 0;
    margin: 30px 0 0;
}
#footer ul{
    display: flex;
    justify-content: space-evenly;
    /* padding: 0 100px; */
    margin: 0 auto;
    width: 1000px;
}
#footer li{}#footer {}
#footer a {
    text-decoration: none;
    color: $gray-dark;
}#footer a:hover{
    text-decoration: underline;
}#footer .copyright {
    font-weight: normal;
    color: rgba(26, 28, 29, 0.65);;
}