
.nav-bar {
  box-sizing: border-box;
  width: 1000px;
  margin: 0 auto;
  font-family: 'Helvetica',sans-serif;

}

.nav-bar .auth, .nav-bar .protected {
  display: flex;
  justify-content: flex-end;
  font-weight: 550;
  font-size: 14px;
  line-height: 19px;

}
.protected .dropdown > button {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.protected .dropdown > button:hover, .userNav .dropdown > button:focus {
    background-color: #2980B9;
}

.protected .dropdown {
  position: relative;
  display: inline-block;
}

.protected .dropdown-content {
  // display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.auth {
  color: white;
  padding: 15px 0 0;
}

.auth a {
  color: white;
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
}
.auth a:hover {
  text-decoration: underline;
}
.site-nav-auth img.logo {
  width: 180px;
  height: 82px;
}

.site-nav-auth {
  display: flex;
  justify-content: space-between;
  
}
.site-nav-auth .left {
  display: flex;
  align-content: flex-end;
}

.browse-dropdown {
  padding: 45px 0 0 20px;
}

.browse-dropdown button {
  background: none;
  color: white;
  border: none;
  font-size: 14px;
  outline: none;
}

.browse-dropdown button .down-arrow{
  display: inline-block;
  transform: rotate(-45deg);
  font-size: 18px;
  margin-left: 10px;
  position: relative;
  top: -2px;
}

.browse-dropdown button:hover {
  text-decoration: underline;
}

$gray-dark: rgba(26,28,29,.65);
$black-text: #1a1c1d;
.category-dropdown-content {
  color: $gray-dark;
  border: 1px solid #cdcdcd;
  box-shadow: 2px 2px 6px 0 rgba(51,51,51,.25);
  background: #fff;
  // overflow: hidden;
  width: 396px;
  // height: 365px;

  // left: -164.953px;
  position: relative;
  top: 20px;
  left: -170px;
}


.category-dropdown-content .arrow {
    background-image: url(https://m.media-amazon.com/images/G/01/audibleweb/brickcity/1.0/popover_caret_release_1-0-18._V519763868_.svg);
    content: "";
    height: 18px;
    position: absolute;
    width: 36px;
    top: -18px;
    right: 170px;
}
.category-dropdown-box {
  //   position: relative;
  // top: -18px;
}
.category-dropdown-box {
  font-size: 14px;
  padding: 20px 25px;
 
}
.category-dropdown-box .row{
  box-sizing: border-box;
  width: 100%;
   display: flex;
  align-content: flex-start;

}
.category-dropdown-box ul {
  box-sizing: border-box;
  display: inline-block;
  width: 50%;

}
.category-dropdown-box ul .lh {
  text-transform: uppercase;
  color: $gray-dark;
  font-weight: 500;

}

.category-dropdown-box li {
  color: $black-text;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}