

.review-index > h3 {
    color: #1a1c1d;
    font-weight: 700;
    font-size: 20px;
    margin: 40px 0;
}
.review-index > h6 {
    color: rgba(26,28,29,.65);
    font-size: 16px;
    margin: 20px;
}

.review {
    display: flex;
    justify-content: space-between;
    color: rgba(26, 28, 29, 0.65);
    padding: 30px 0;
}
.review aside {
    width: 30%;
}

.review .ratings {
    display: flex;
}

.review .ratings ul {

    display: flex;
    flex-direction: column;
}

.review .ratings li {
    margin-bottom: 10px;
    height: 20px;
}
.review .ratings .labels {
    font-size: 12px;
    width: 33.3333334%;
}

.review .ratings .stars {
    color: #F7991C;
    width: 66.66667%;
}

.review aside h6 {
    font-size: 14px;
    line-height: 20px;
    color: #212325;
}
.review aside h6.username {
    color: rgb(40, 155, 201)
}

.review main {
    width: 70%;
}

.review main h1 {
    color: rgb(26, 28, 29);
    font-family: Georgia;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    line-height: 26px;
}

.review main .review-body {
    margin-bottom: 15px;
}
.review main .review-body p {
    padding: 10px 0;
}
.review main h1:before {
    content: "\201C";
}

.review main h1:after {
    content: "\201D";
}

.review main .review-body {
    color: rgba(26,28,29,.65);
    font-size: 14px;
    line-height: 20px;
}

.review footer h5 {
    color: #212325;
    font-size: 13px;
    line-height: 19px;
}

.review footer .buttons {
    margin: 10px 0;
}
.review footer .buttons button {
    color: rgb(26, 28, 29);
    background: #e8eaebd9;
    border-radius: 4px;
    border: none;
    width: 80px;
    height: 30px;
    margin-right: 10px;
}

.review footer h6 {
    font-size: 13px;
    line-height: 19px;
    color: rgba(26,28,29,.65);
    font-weight: 500;
}