
.nav-bar {
  box-sizing: border-box;
  width: 1000px;
  font-family: 'Helvetica',sans-serif;
}

.nav-bar .site-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 550;
  font-size: 14px;
  padding-top: 10px;
}

// ------------------------------
// ------------------------------
// ------SITE NAV site-nav
// ------------------------------
// ------------------------------

.site-nav {
  display: flex;
  justify-content: space-between;
  // border: solid;
  height: 40px;
}


// ------------------------------
// ------SITE NAV RIGHT
// ------------------------------

.site-nav .right {
  // display: flex;
  // align-content: flex-end;
  height: 40px;
}


//----------------
// --PROTECTED SITE NAV RIGHT
//----------------

// ------------------------------
// ------SITE NAV LEFT
// ------------------------------

$gray-dark: rgba(26,28,29,.65);
$black-text: #1a1c1d;


.site-nav .left {
  display: flex;
  align-items: baseline;
  width: 700px;
  padding-bottom: 10px;
}

.site-nav .left>ul {
  display: flex;
  position: relative;
  // top: 5px;
}

.site-nav .left>ul>li {
  color: $gray-dark;
  margin: 0 10px;
  font-weight: 400;
  font-size: 13px;
  min-width: 60px;
}

.site-nav .left>ul li:hover {
  // text-decoration: underline;
  cursor: not-allowed;
}
// logo
.site-nav .left .logo a{
  text-decoration:none;
}

.site-nav .left .logo-text {
  color: white;
  margin-right: 10px;
  font-size: 30px;
  font-weight: 500;
  position: relative;
  // top: -9px;
}

.site-nav.protected .left .logo-text {
  color:black;
  // top: -4px;
}

.site-nav .left .logo-text span {
    color: #f7991c;
    transform: rotate(-45deg);
    position: relative;
    top: -14px;
    display: inline-block;
    font-size: 40px;
}
