
.nav-bar {
  box-sizing: border-box;
  width: 1000px;
  margin: 0 auto;
  font-family: 'Helvetica',sans-serif;
}

.nav-bar .site-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 550;
  font-size: 14px;
}



// ------------------------------
// ------------------------------
// ------SITE NAV site-nav
// ------------------------------
// ------------------------------

.site-nav {
  display: flex;
  justify-content: space-between;
  // border: solid;
  height: 40px;
}

.site-nav.protected {
  margin-top: 5px;
}

// ------------------------------
// ------SITE NAV RIGHT
// ------------------------------

.site-nav .right {
  // display: flex;
  // align-content: flex-end;
  height: 40px;
}

.site-nav .right form {
  box-sizing: border-box;
  height: 100%;
  display: flex;
}

.site-nav .right form input{
  box-sizing: border-box;
  height: 100%;
  width: 375px;
  background-color: rgba(180,180,180,.3);
  border: none;
  
  outline: none;
  padding: 3px 36px 3px 16px;
  font-size: 13px;
  font-weight: 600;
  position: relative;
  left: 20px;
}

.site-nav.auth .right form input{
  color: #fff;
}

.site-nav.protected .right form input{
  color: rgb(26, 28, 29);
  background: #fff;
  border: solid 1px rgb(205, 205, 205);
}

.site-nav.auth .right form input::placeholder {
  color: #fff;
  opacity: 1;
}
.site-nav.protected .right form input::placeholder {
  color: rgb(150,150,150);
  opacity: 1;
}
.site-nav .right img {
  position: relative;
  left: -10px;
  top: 0px;
  cursor: help;
}

.site-nav.protected .right img {
  width: 25px;
  height: 25px;
  top: 8px;
}

//----------------
// --PROTECTED SITE NAV RIGHT
//----------------



.site-nav .right form .search-icon {}

// ------------------------------
// ------SITE NAV LEFT
// ------------------------------

$gray-dark: rgba(26,28,29,.65);
$black-text: #1a1c1d;


.site-nav .left {
  display: flex;
  align-items: center;
  width: 700px;
}

.site-nav .left>ul {
  display: flex;
  position: relative;
  // top: 5px;
}

.site-nav .left>ul li {
  color: $black-text;
  margin: 0 10px;
  font-weight: 400;
  font-size: 14px;
  min-width: 60px;
}

.site-nav .left>ul li:hover {
  text-decoration: underline;
  cursor: help;
}
// logo
.site-nav.auth img.logo {
  width: 180px;
  height: 82px;
  position: relative;
  top: -8px;
}

.site-nav.protected img.logo {
  height: 82px;
  position: relative;
  top: -8px;
  margin: 0 20px;
}

.site-nav .left .logo-text {
  color: white;
  margin-right: 10px;
  font-size: 30px;
  font-weight: 500;
  position: relative;
  top: -9px;
}

.site-nav.protected .left .logo-text {
  color:black;
  top: -4px;
}

.site-nav .left .logo-text span {
    color: #f7991c;
    transform: rotate(-45deg);
    position: relative;
    top: -14px;
    display: inline-block;
    font-size: 40px;
}
