
.splash-main-auth {
    // width: 1000px;
    // margin: 0 auto;
}

.movie {
    // overflow: hidden;
    background: black;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -3;  
}

.movie img {
    opacity: 0.7;
    height: 450px;
}

// ------------------------------
// ------AUTH SPLASH TOP
// ------------------------------
.splash-main-auth .top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 106px;
}
// ------------------------------
// ------AUTH SPLASH BANNER CONTENT
// ------------------------------

.splash-banner-content {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    flex-direction: column;

}

.splash-banner-content h1 {
    font-size: 50px;
    line-height: 1.1;
    font-weight: 700;
    color: #fff; 
  
    font-family: 'Arial';
}

$orange: #f7991c;
$orange-light: #F3B44D;
$orange-dark: #e77600;
$orange-shadow: rgba(228,121,17,.5);

.splash-main-auth .orange-button {
    background: $orange;
    width: 268px;
    height: 37px;
    font-size: 14px;
    border: none;
    font-weight: 475;
    margin-top: 50px;
    border-radius: 4px;
}

.splash-main-auth .orange-button:hover {
    background: $orange-light;
    cursor: pointer;
}

.splash-main-auth .orange-button:focus {
    box-shadow: 0 0 3px 2px $orange-shadow;
    outline: 0;
}

// ------------------------------
// ------BLUE HR
// ------------------------------

.splash-main-auth .hr {
    height: 100px;
    background: #A5E7F8;
}

.splash-main-auth .hr aside {
    min-width: 900px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.splash-main-auth .hr aside img {
    position: relative;
    right: 10px;
    margin: 0 auto;
}


.splash-main-auth .hr aside span {
    cursor: pointer;
}

// ------------------------------
// ------GET STARTED SECTION
// ------------------------------

$gray-border: #cdcdcd;
$get-started-gray: rgba(26,28,29,.65);

.splash-main-auth .get-started {
    margin: 0 auto;
    width: 1000px;
}

.splash-main-auth .get-started header {
    margin: 0 auto 50px;
    display: flex;
    justify-content: center;
    border-bottom: solid 2px $gray-border;
    // padding: 20px 0;
}
.splash-main-auth .get-started header div {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    margin: 0 10px;
}

.splash-main-auth .get-started header div.selected {
    border-bottom: solid 5px #49B0AF;
}

.splash-main-auth .get-started header .graytext{
    color: $get-started-gray;
}



.splash-main-auth .get-started section{
    display: flex;
    justify-content: space-between;
}

.splash-main-auth .get-started .left h4 {
    font-size: 23px;
    font-weight: bold;
    font-family: 'Arial';
}
.splash-main-auth .get-started .left ul {
    color: $get-started-gray;
    font-size: 15px;
}
.splash-main-auth .get-started .left ul li {
    margin: 30px 0;
}

.splash-main-auth .get-started .left ul li span{
    margin-right: 10px;
}
.splash-main-auth .get-started .left .aquamarine {
    color: #49B0AF;
}
.splash-main-auth .get-started .left .orange-button {
    margin-top: 0;
}
.splash-main-auth .get-started .left aside{
    font-size: 13px;
    line-height: 19px;
    color: $get-started-gray;
    margin-top: 5px;
}

// ------------------------------
// ------slideshow standin prop
// ------------------------------

.splash-main-auth .slideshow-prop {
    width: 1000px;
    margin: 0 auto;
}
.splash-main-auth .slideshow-prop {}
.splash-main-auth .slideshow-prop h5 {
    font-weight: 700;
    font-size: 20px;
    font-family: 'Arial';
    margin-bottom: 15px;
}
.splash-main-auth .grid-wrapper {
    display: flex;
    justify-content: space-between;
}

.splash-main-auth .slideshow-prop-grid {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 12px;
}

.splash-main-auth .slideshow-prop-grid .square-small {
    width: 150px;
    height: 156px;
}

.splash-main-auth .grid-item.big {
    display: inline-block;
}
.splash-main-auth .square-big {
    width: 320px;
    height: 320px;
    display: inline-block;
}

.yellow { background: #F6DD02;}
.lightblue {background: #B2D0D2;}
.ivory {background: #EAE3D0;}
.skyblue {background: #9DD8D4}
.pinkish {background: #F19367;}
.red {background: #EF654B;}
.darkteal {background: #265E73;}
.bone {background: #E4DFA5;}
.gray-box {background: #84898D;}

// ------------------------------
// ------footer
// ------------------------------

$gray-dark: rgb(26, 28, 29);



