//----------------
// --SHARED USER NAV
//----------------

.nav-bar {
    padding: 15px 0 0;
}

//----------------
// --PROTECTED-user USER NAV
//----------------

.nav-bar .protected-user {
    color: rgb(26, 28, 29);
    // background: slategray;
    display: flex;
    justify-content: flex-end;
    // height: 40px;
    // margin-top: 20px;
}



.nav-bar .protected-user .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar .protected-user .separator{
    background-color: #aaacae;
    // font-weight: 400;
    height: 12px;
    width: 1px;
    margin: 0 15px;
}
.nav-bar .protected-user img.cart {
    width: 32px;
    height: 32px;
    cursor: help;
}

//----------------
// --AUTH USER NAV
//----------------
.nav-bar .auth-user {
    color: white;
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    height: 32px;

}

.nav-bar .auth-user a {
  color: white;
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
}
.nav-bar .auth-user a:hover {
  text-decoration: underline;
}

